/* Denna fil skall innehålla din CSS kod */
/*in all pages*/
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.responisveImg {
    width: 100%;
    height: auto;
    
}

/*Burger menu code stuff*/
.menu div {
    width: 25px;
    height: 3px;
    background:white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.2s;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
    nav {
    background:rgb(179, 45, 21);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    font-family: 'Times New Roman';
    position: sticky;
        top:0%;
    }
    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 90vh;
        top: -90vh;
        background:rgb(99, 22, 20);
        align-items: center;
        width: 25%;
        transition: all 0.5s;
    }
    .navLinks a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 5vw;
        text-align: center;
    }
    .menu {
        margin-right: 3vh;
        cursor: pointer;
    }

    
.inPage {
    text-decoration: underline;
}

footer {
    height: 170px;
    background: rgb(36, 13, 9);
    color: rgb(104, 72, 66);
    padding-left:8vw;
    padding-right: 8vw ;
    padding-top: 12vw ;
    font-size: small;
}
/*Phone screen*/
    @media screen and (min-width: 480px ) {
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background: rgb(99, 22, 20);
    align-items: center;
    width: 15%;
    transition: all 0.5s;
}
.inPage {
    text-decoration: underline;
    background: black;
}
    }


@media screen and (min-width: 480px ) {
.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 2vw;
    text-align: center;
}
.inPage {
    text-decoration: underline;
}
}
/*Home Page*/

#MainPage {
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}    

#mainImg1 {
    grid-area: mi1;
    background: black;
    width: 100%;
    height: auto;
    text-align: center;
    
}
#imgText {
position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(184, 79, 79);
  background: white;
  width: 100%;
  font-family: courier New;
}
@media screen and (max-width: 650px ) {
    #imgText  {
        position: relative;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:8vw;
        color: rgb(184, 79, 79);
        background: white;
        width: 100%;
        font-family: courier New;  
    }
    }

#innerGridWrapper {
    grid-area: mdv;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    height: 500px;
    width:100%;
}

#innerGridWrapper div {
    background: rgb(109, 36, 24);
    height: auto;
    width:96%;
    margin: 8px;

}

#breadText {
    grid-area: mbt;
    background: rgb(243, 230, 225);
    height: 73vh;
    width:100%;
    padding: 4vw;
}

/*AboutUs Page*/
#AUPage {
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}
#AUimg {
    background: black;
    width: 100%;
    height: auto;

}

#AUBreadText {
    background:rgb(243, 230, 225);
    height: 800px;
    width: 100%;
    padding: 4vw;
}

/*Donation Page*/

#DonPage {
display: flex;
background:rgb(109, 36, 24);
height: auto;
justify-content: center;
    flex-wrap: wrap;
    
}

#donImg {
background: black;
height: auto;
width: 100%;
}

#donateFillIn {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
#donateFillIn div {
width: 80%;
margin: 20px;
height: 50px;

}
#donateFillIn input {
    background: white;
    width: 100%;
    height: 50px;
    border:solid 3px gray;
    border-radius: 8px;
    padding: 10px;
}

#donButton {
    background:rgb(179, 26, 51);
    width: 300px;
    margin: 40px;
    height: 100px;
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#donButton:hover {
    background: rgb(95, 15, 28);
}

#donateText {
background: rgb(243, 230, 225);
width: 100%;
height: 300px;
padding: 4vw;
}


/*Research Page*/
#RechPage {
display: flex;
height: auto;
justify-content: center;
    flex-wrap: wrap;
}

#rechImg {
background: black;
height: auto;
width: 100%;
}

#rechText{
background:rgb(243, 230, 225);
width: 100%;
height: 224.5vh;
padding: 4vw;
}

#extrenalLinks{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
background: rgb(109, 36, 24);
align-items: center;
justify-content: center;

}

#extrenalLinks a{
    background: cadetblue;
    margin: 10px;
    width: 20vh;
    height: 20vh;
    
}

/*Volunteer Page*/

#VolPage{
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

#volImg{
background: black;
height: auto;
width: 100%;
}

#volText1{
background: rgb(243, 230, 225);
width: 100%;
height: 70vh;
padding: 4vw;
}

#volFillIn{
background:rgb(109, 36, 24);
width: 100%;
height: 71.5vh;
}

#volFillIn div {
width: 80%;
margin: 20px;
height: 50px;
}
#volFillIn input {
    background: white;
    width: 100%;
    height: 50px;
    border:solid 3px gray;
    border-radius: 8px;
    padding: 10px;
    
}

#volButton{
background:rgb(179, 26, 51);
width: 300px;
margin: 40px;
height: 150px;
color: white;
font-size: 40px;
border: none;
border-radius: 8px;
transition-duration: 0.4s;
cursor: pointer;

}

#volButton:hover {
    background:rgb(95, 15, 28);
}

#volText2{
background: rgb(243, 230, 225);
width: 100%;
height: 80vh;
padding: 4vw;
}



