/* Denna fil skall innehålla din CSS kod */
/*in all pages*/
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
#responisveImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Burger menu code stuff*/
.menu div {
    width: 25px;
    height: 3px;
    background:white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.2s;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



    nav {
    background: teal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    font-family: 'Times New Roman';
    position: sticky;
        top:0%;
    }
    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 90vh;
        top: -90vh;
        background: rgb(16, 173, 173);
        align-items: center;
        width: 25%;
        transition: all 0.5s;
    }
    .navLinks a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 5vw;
        text-align: center;
    }
    .menu {
        margin-right: 3vh;
        cursor: pointer;
    }

    
.inPage {
    background: palevioletred;
}

footer {
    height: 170px;
    background: blueviolet;
}
/*Phone screen*/
    @media screen and (min-width: 480px ) {
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background: rgb(16, 173, 173);
    align-items: center;
    width: 15%;
    transition: all 0.5s;
}
    }


@media screen and (min-width: 480px ) {
.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 2vw;
    text-align: center;
}
}
    

/*Home Page*/
/*#MainPage {
    height: 200vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-area: 
    " mi1 mi1 "
    " mdv mdv "
    " mdv mdv "
    " mi2 mi2 "
    " mbt mbt "
    ;

}*/

#MainPage {
    display: flex;
    height: 220vh;
    justify-content: center;
    flex-wrap: wrap;
}


#mainImg1 {
    grid-area: mi1;
    background: black;
    height: 40vh;
    width:100%;
    
}

#innerGridWrapper {
    grid-area: mdv;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    height: 30%;
    width:100%;
}

#innerGridWrapper div {
    background: teal;
    height: 100%;
    width:100%;
}

#breadText {
    grid-area: mbt;
    background: darkblue;
    height: 73vh;
    width:100%;
}
#mainImg2 {
grid-area: mi2;
background: black;
height: 40vh;
    width:100%;
}
/*AboutUs Page*/
#AUPage {
    display: flex;
    height: 250vh;
    justify-content: center;
    flex-wrap: wrap;
}
#AUimg {
    background: black;
    width: 100%;
    height: 200px;

}

#AUBreadText {
    background:rebeccapurple;
    height: 88.2%;
    width: 100%;
}

/*Donation Page*/

#DonPage {
display: flex;
background:orchid;
height: 150vh;
justify-content: center;
    flex-wrap: wrap;
    
}

#donImg {
background: black;
height: 200px;
width: 100%;
}

#donateFillIn {
display: grid;
width: 100%;

}
#donateFillIn div {
    background: white;
width: 80%;
margin: 20px;
height: 50px;
}
#donateFillIn input {
    background: white;
    width: 100%;
    height: 50px;
}

#donButton {
background: orange;
height: 70px;
width: 60%;
margin: 10px;
}

#donateText {
background: yellow;
width: 100%;
height: 20%;
}


/*Research Page*/
#RechPage {
display: flex;
height: 300vh;
justify-content: center;
    flex-wrap: wrap;
}

#rechImg {
background: black;
height: 200px;
width: 100%;
}

#rechText{
background:chocolate;
width: 100%;
height: 224.5vh;
}

#extrenalLinks{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
background: crimson;

}

#extrenalLinks div{
background: cadetblue;
margin: 10px;
width: 20vh;
height: 20vh;
}

/*Volunteer Page*/

#VolPage{
    display: flex;
    background: cyan;
    height: 270vh;
    justify-content: center;
    flex-wrap: wrap;
}

#volImg{
background: black;
height: 180px;
width: 100%;
}

#volText1{
background: crimson;
width: 100%;
height: 70vh;
}

#volFillIn{
background:darkolivegreen;
width: 100%;
height: 71.5vh;
}

#volFillIn div {
    background: white;
width: 80%;
margin: 20px;
height: 50px;
}

#volButton{
background:darkmagenta;
width: 100%;
margin: 40px;
height: 70px;
}

#volText2{
background: darkgreen;
width: 100%;
height: 80vh;
}

